name: Test
on: 
  push:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ["3.7","3.8","3.9"]
      - name: Install dependencies
        run: python -m pip install -U pip
      - name: Run tests
        run: |
          pip install -r requirements.txt
          python -m unittest
